*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Language: css */
/* Path: css\style.css */
/* background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 12%, rgba(196,240,249,1) 100%, rgba(126,230,251,1) 100%, rgba(0,212,255,1) 100%); */

/* 
background: -webkit-linear-gradient(90deg, rgb(242, 242, 242), rgb(130, 168, 217));
background: linear-gradient(90deg, rgb(242, 242, 242), rgb(130, 168, 217));
*/

/* 
background: -webkit-linear-gradient(90deg, rgb(208, 237, 245), rgb(255, 255, 255));
background: linear-gradient(90deg, rgb(208, 237, 245), rgb(255, 255, 255));
*/

/* 
background: -webkit-linear-gradient(90deg, rgb(255, 255, 255), rgb(221, 230, 232));
background: linear-gradient(90deg, rgb(255, 255, 255), rgb(221, 230, 232));

background: -webkit-linear-gradient(90deg, rgb(254, 254, 254), rgb(204, 218, 220));
background: linear-gradient(90deg, rgb(254, 254, 254), rgb(204, 218, 220));

background: -webkit-linear-gradient(180deg, rgb(242, 242, 242), rgb(4, 104, 191));
background: linear-gradient(180deg, rgb(242, 242, 242), rgb(4, 104, 191));

background: -webkit-linear-gradient(97deg, rgb(242, 242, 242), rgb(4, 104, 191));
background: linear-gradient(90deg, rgb(242, 242, 242), rgb(4, 104, 191));
*/