*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #04509A;
  color: #FFFFFF;
  font-family: 'Be Vietnam', sans-serif;
}

main p {
  font-weight: bold;
}

h1, h2 {
  letter-spacing: 2px;
}

aside, footer {
  background:#0468BF !important;
}

.tamanho-img {
  width: 35%;
  margin: auto;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.bn-hover:hover {
  color: #04509A !important;
  background: #FFFFFF !important;

  transition: all 0.5s ease-in-out;
}

#flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}


@media screen and (max-width: 768px) {
  .tamanho-img {
    width: 80%;
    margin: auto;
  }  
}


teste {
  color:#04509A;
background-color: #04509A;

}